<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../estilo/style.css">
  <title>Campeones Mundiales</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="../../index.html">90 minutos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar navbar-expand-sm bg-light navbar-light" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="Campeones.html">Campeones<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Mundiales.html">Mundiales<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Goleadores.html">Goleadores<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>




  <div class="fondoBr">
    <div class="Jumbotron">
      <h1>BRASIL</h1>
    </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          <div class="responsive">
            <div class="galleryB">
              <a target="_blank" href="img_5terre.jpg">
                <img src="../estilo/imagenes/campeones/Brasil1958.jpg" class="img-fluid" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="descB">Brasil Campeon 1958</div>
            </div>
          </div>
        </div>


        <div class="col-sm">
          <div class="responsive">
            <div class="galleryB">
              <a target="_blank" href="/estilo/imagenes/campeones/Brasil1962.jpg">
                <img src="/estilo/imagenes/campeones/Brasil1962.jpg" class="img-fluid" alt="Cinque Terre" width="600" height="500">
              </a>
              <div class="descB">Brasil Campeon 1962</div>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="responsive">
            <div class="galleryB">
              <a target="_blank" href="/estilo/imagenes/campeones/Basil1970.jpg">
                <img src="/estilo/imagenes/campeones/Basil1970.jpg" class="img-fluid" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="descB">Brasil Campeon 1970</div>
            </div>
          </div>
        </div>


      </div>
    </div>



    <div class="container">
      <div class="row">
        <div class="col">
          <div class="responsive">
            <div class="galleryB">
              <a target="_blank" href="/estilo/imagenes/campeones/Brasil1994.jpg">
                <img src="/estilo/imagenes/campeones/Brasil1994.jpg" class="img-fluid" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="descB">Brasil Campeon 1994</div>
            </div>
          </div>
        </div>




        <div class="col">
          <div class="responsive">
            <div class="galleryB">
              <a target="_blank" href="/estilo/imagenes/campeones/Basil2002.jpg">
                <img src="/estilo/imagenes/campeones/Basil2002.jpg" class="img-fluid" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="descB">Brasil Campeon 2002</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="fondoUr">
    <div class="Jumbotron">
      <h1>URUGUAY</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="responsive">
            <div class="galleryU">
              <a target="_blank" href="/estilo/imagenes/campeones/uruguay1924.jpg">
                <img src="/estilo/imagenes/campeones/uruguay1924.jpg" class="img-fluid" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="descU">Uruguay Campeon 1924</div>
            </div>
          </div>
        </div>




        <div class="col">
          <div class="responsive">
            <div class="galleryU">
              <a target="_blank" href="/estilo/imagenes/campeones/uruguay1928.jpg">
                <img src="/estilo/imagenes/campeones/uruguay1928.jpg" class="img-fluid" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="descU">Uruguay Campeon 1928</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="responsive">
            <div class="galleryU">
              <a target="_blank" href="/estilo/imagenes/campeones/uruguay1930.jpg">
                <img src="/estilo/imagenes/campeones/uruguay1930.jpg" class="img-fluid" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="descU">Uruguay Campeon 1930</div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="responsive">
            <div class="galleryU">
              <a target="_blank" href="/estilo/imagenes/campeones/uruguay1950.jpg">
                <img src="/estilo/imagenes/campeones/uruguay1950.jpg" class="img-fluid" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="descU">Uruguay Campeon 1950</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="fondoAL">
    <div class="Jumbotron">
      <h1>ALEMANIA</h1>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md">
          <div class="responsive">
            <div class="galleryAl">
              <a target="_blank" href="/estilo/imagenes/campeones/Alemania54.jpg">
                <img src="/estilo/imagenes/campeones/Alemania54.jpg" class="img-fluid" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="descAl">Alemania Campeon 1954</div>
            </div>
          </div>
        </div>

        <div class="col-md">
          <div class="responsive">
            <div class="galleryAl">
              <a target="_blank" href="/estilo/imagenes/campeones/alemania74.jpg">
                <img src="/estilo/imagenes/campeones/alemania74.jpg" class="img-fluid" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="descAl">Alemania Campeon 1974</div>
            </div>
          </div>
        </div>

        <div class="col-md">
          <div class="responsive">
            <div class="galleryAl">
              <a target="_blank" href="/estilo/imagenes/campeones/alemania90.jpg">
                <img src="/estilo/imagenes/campeones/alemania90.jpg" class="img-fluid" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="descAl">Alemania Campeon 1990</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="gifAL">
            <img src="/estilo/imagenes/gotzevsargentina.gif" class="img-fluid" alt="Gol de Gotze" width="300" height="200">
          </div>
        </div>

        <div class="col">
          <div class="responsive">
            <div class="galleryAl">
              <a target="_blank" href="../estilo/imagenes/campeones/almeania 2014.jpg">
                <img src="../estilo/imagenes/campeones/almeania 2014.jpg" class="img-fluid" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="descAl">Alemania Campeon 2014</div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="gifAL">
            <img src="../estilo/imagenes/schullevsbrasil.gif" class="img-fluid" alt="Gol de Gotze" width="300" height="200">
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="fondoIT">
    <div class="Jumbotron">
      <h1>ITALIA</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="gifAL">
            <img src="../estilo/imagenes/gif/delpierogol.gif" class="img-fluid" alt="Del Piero" width="300" height="150">
          </div>
        </div>

        <div class="col">
          <div class="responsive">
            <div class="galleryIT">
              <a target="_blank" href="../estilo/imagenes/campeones/italia1934.jpg">
                <img src="../estilo/imagenes/campeones/italia1934.jpg" class="img-fluid" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="descIT">Italia Campeon 1934</div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="gifAL">
            <img src="../estilo/imagenes/gif/Buffon.gif" class="img-fluid" alt="Buffon" width="300" height="150">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="responsive">
            <div class="galleryIT">
              <a target="_blank" href="../estilo/imagenes/campeones/italia1938.jpg">
                <img src="../estilo/imagenes/campeones/italia1938.jpg" class="img-fluid" alt="Cinque Terre" width="600" height="200">
              </a>
              <div class="descIT">Italia Campeon 1938</div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="responsive">
            <div class="galleryIT">
              <a target="_blank" href="../estilo/imagenes/campeones/italia1982.jpg">
                <img src="../estilo/imagenes/campeones/italia1982.jpg" class="img-fluid" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="descIT">Italia Campeon 1982</div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="responsive">
            <div class="galleryIT">
              <a target="_blank" href="../estilo/imagenes/campeones/italia2006.jpg">
                <img src="../estilo/imagenes/campeones/italia2006.jpg" class="img-fluid" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="descIT">Italia Campeon 2006</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="fondoArg">
    <div class="Jumbotron">
      <h1>ARGENTINA</h1>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md">
          <div class="gifarg">
            <img src="../estilo/imagenes/maradona.gif" class="img-fluid" alt="maradona" width="400px" height="auto">
          </div>
        </div>


        <div class="col-md">
          <div class="responsive">
            <div class="galleryarg">
              <a target="_blank" href="../estilo/imagenes/campeones/Argentina1978.jpg">
                <img src="../estilo/imagenes/campeones/Argentina1978.jpg" class="img-fluid" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="descarg">Argentina Campeon 1978</div>
            </div>
          </div>
        </div>

        <div class="col-md">
          <div class="gifarg">
            <img src="../estilo/imagenes/gif/lamanodedios.gif" class="img-fluid" alt="maradona" width="400px" height="250">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md">
          <div class="gifarg">
            <img src="../estilo/imagenes/gif/messivsNIG.gif" class="img-fluid" alt="messi" width="400px" height="250">
          </div>
        </div>


        <div class="col-md">
          <div class="responsive">
            <div class="galleryarg">
              <a target="_blank" href="../estilo/imagenes/campeones/Argentina1986.jpeg">
                <img src="../estilo/imagenes/campeones/Argentina1986.jpeg" class="img-fluid" alt="Cinque Terre" width="600" height="400">
              </a>
              <div class="descarg">Argentina Campeon 1986</div>
            </div>
          </div>
        </div>

        <div class="col-md">
          <div class="gifarg">
            <img src="../estilo/imagenes/gif/messivsIRN.gif" class="img-fluid" alt="messi" width="400px" height="250">
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer class="text-center text-lg-start bg-light text-muted">
    <div class="icons">
      <i><a href="https://www.instagram.com/" class="btn" role="button"><img src="../estilo/imagenes/LOGOS/instagram2.png" width="48px" height="48px"></a></i>
      <i><a href="https://www.facebook.com/hassiel2hr/" class="btn" role="button"><img src="../estilo/imagenes/LOGOS/facebook2.png" alt="" width="48px" height="48px" ></a></i>
      <i><a href="https://twitter.com/hassieljruiz" class="btn" role="button"><img src="../estilo/imagenes/LOGOS/gorjeo.png" alt="" width="48px" height="48px"></a></i>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="">Hassiel Ruiz</a>
    </div>
</footer>


</body>

</html>