<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/estilo/style.css">
  <title>Datos curiosos</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index.html">90 minutos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar navbar-expand-sm bg-light navbar-light" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/templates/Campeones.html">Campeones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/templates/Mundiales.html">Mundiales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/templates/Historia.html">Historia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/templates/Estrellas.html">Estrellas</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="datosfondo">
  <ol>
    <div class="container-fluid head">
      <div class="row">
        <div class="col-sm">
          <div class="datos">
            <li>
              <p>El Mundial con más goles. Suiza 1954 fue el Mundial en el que se han anotado más goles en
                la historia,
                con un récord de
                5.4 anotaciones por partido. El encuentro en el que se registraron más tantos fue entre Austria y Suiza,
                con un marcador
                de 7 a 5 en favor del primero.</p>
            </li>
          </div>
        </div>

        <div class="col-sm">
          <div class="datosimg">
            <img src="/estilo/imagenes/Top Imagenes/HISTORIAAAAAA 2222222.jpg" alt="" width="350px" height="250px">
          </div>
        </div>

        <div class="col-sm">
          <div class="datos">
            <li>
              <p>La goleada del siglo. La peor goleada de la historia ocurrió en el Mundial de España 1982,
                en un partido en el que
                Hungría venció a El Salvador 10 goles a 1. Este fue el segundo y último Mundial al que los salvadoreños
                han asistido.</p>
            </li>
          </div>
        </div>

        
      </div>
    </div>

    <div class="container-fluid head">
      <div class="row">
        <div class="col-sm">
          <div class="datos">
              <li>
                <p>El récord en sanciones. En Alemania 2006, el partido Portugal vs. Holanda marcó un nuevo
                  récord al ser el partido con
                  mayor número de tarjetas (20) y el mayor número de expulsados (4).</p>
              </li>

          </div>
        </div>

        <div class="col-sm">
          <div class="datosimg">
            <img src="/estilo/imagenes/Top Imagenes/DIEEEGO.jpg" alt="" width="350px" height="250px">
          </div>
        </div>

        <div class="col-sm">
          <div class="datos">
              <li>
                <p>Italia 1934 Fue el primer mundial en transmitirse en su totalidad por radio.</p>
              </li>

          </div>
        </div>

      </div>
    </div>

    <div class="container-fluid head">
      <div class="row">
        <div class="col-sm">
          <div class="datos">
            <li><p>Francia 1938 La política volvió a convertirse en protagonista en marzo de 1938. La Alemania nazi invadió Austria y la anexionó como parte de su territorio. Los dos países estaban clasificados para el Mundial. Por eso, los mejores futbolistas austriacos jugaron con la camiseta germana.</p></li>
          </div>
        </div>

        <div class="col-sm">
          <div class="datosimg">
            <img src="/estilo/imagenes/Top Imagenes/ZZZZZ.jpg" alt="" width="350px" height="250px">
          </div>
        </div>

        <div class="col-sm">
          <div class="datos">
            <li><p>Brasil 1950 Para celebrar esta Copa, los brasileños construyeron el estadio Maracaná, el más grande del mundo, con capacidad para más de 200.000 personas, levantado en sólo 22 meses.</p></li>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid head">
      <div class="row">
        <div class="col-sm">
          <div class="datos">
            <li><p>Brasil 1950 Aquí sucedió el “maracanazo”. En él, Uruguay venció a Brasil, favoritos y anfitriones, en la final por 2-1. Lo presenciaron más de 200.000 espectadores en directo. Todavía es el récord de público en cualquier acontecimiento relacionado con los mundiales.</p></li>
          </div>
        </div>

        <div class="col-sm">
          <div class="datosimg">
            <img src="/estilo/imagenes/Top Imagenes/Maradona_scoring1986.jpg" alt="" width="350px" height="250px">
          </div>
        </div>

        <div class="col-sm">
          <div class="datos">
            <li><p>Brasil 1950 La India decide no acudir a la cita porque la FIFA no les permite jugar descalzos, como lo hacen en su país.</p></li>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid head">
      <div class="row">
        <div class="col-sm">
          <div class="datosimg">
            <img src="/estilo/imagenes/Top Imagenes/KEYLOR.jpg" alt=""  width="350px" height="250px">
          </div>
        </div>

        <div class="col-sm">
          <div class="datos">
            <li><p>Suiza 1954 Brasil viste por primera vez la camiseta amarilla en vez de la blanca, que es la que habían usado hasta entonces. Fue un intento de borrar la humillación sufrida en “el maracanazo” el mundial pasado.</p></li>
          </div>
        </div>

        <div class="col-sm">
          <div class="datosimg">
            <img src="/estilo/imagenes/Top Imagenes/XXXX.jpg" alt=""  width="350px" height="250px">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid head">
      <div class="row">
        <div class="col-sm">
          <div class="datosimg">
            <img src="/estilo/imagenes/Top Imagenes/SHAKIRA.jpg" alt=""  width="350px" height="250px">
          </div>
        </div>

        <div class="col-sm">
          <div class="datos">
            <div class="Jumbotron">
            <h1>Suecia 1958</h1>
            </div>
            <li><p> Brasil se convirtió en el primer equipo en ganar un Mundial fuera de su continente.</p></li>
            <li><p>Pelé, con solo 17 años y 239 días, se convierte en el jugador más joven en marcar un gol en un mundial. Esto ocurrió en un encuentro contra País de Gales.</p></li>
            <li><p>Los guantes aparecen como parte de la indumentaria del portero. El primero en usarlos fue el ruso Lev Yashin.</p></li>
          </div>
        </div>

        <div class="col-sm">
          <div class="datosimg">
            <img src="/estilo/imagenes/Top Imagenes/PELE.jpeg" alt="PELE" width="350px" height="250px">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid head">
      <div class="row">
        <div class="col-sm">
          <div class="datosimg">
            <img src="/estilo/imagenes/Top Imagenes/ROMERO.jpg" alt=""  width="350px" height="250px">
          </div>
        </div>

        <div class="col-sm">
          <div class="datos">
            <div class="Jumbotron">
              <h1>Chile 1962</h1>
            </div>
            <li><p>a selección española acudió con cuatro jugadores de diferentes nacionalidades. Fueron: Alfredo Di Stéfano (argentino), Eulogio Martínez (paraguayo), Ferenc Puskas (húngaro) y José Santamaría (uruguayo).</p></li>
            <li><p>El jugador checoslovaco Vaclav Masek tiene el récord de haber marcado el gol más rápido en los mundiales. Fue contra México, anotando el gol a los 15 segundos</p></li>
            <li><p>50 jugadores se lesionan durante los primeros 4 días de campeonato.</p></li>
          </div>
        </div>

        <div class="col-sm">
          <div class="datosimg">
            <img src="/estilo/imagenes/Top Imagenes/RBBRRR.jpg" alt=""  width="350px" height="250px">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid head">
      <div class="row">
        <div class="col-sm">
          <div class="datosimg">
            <img src="/estilo/imagenes/Top Imagenes/SPAIN.jpg" alt=""  width="350px" height="250px">
          </div>
        </div>

        <div class="col-sm">
          <div class="datos">
            <div class="Jumbotron">
              <h1>México 1970</h1>
            </div>
            <li><p>Se usan por primera vez las tarjetas amarillas y rojas. Sin embargo la tarjeta roja no se utilizó hasta el mundial siguiente. Este mundial y el de 1950 tienen el récord de no haber sufrido ninguna expulsión.</p></li>
            <li><p>Por primera vez se permite la sustitución de jugadores</p></li>
            <li><p>Adidas es el fabricante de los balones en la Copa del Mundo. Por primera vez es de color blanco y negro. Su nombre es “Telstar”.</p></li>
          </div>
        </div>

        <div class="col-sm">
          <div class="datosimg">
            <img src="/estilo/imagenes/Top Imagenes/RBBRRR.jpg" alt=""  width="350px" height="250px">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid head">
      <div class="row">
        <div class="col-sm">
          <div class="datosimg">
            <img src="/estilo/imagenes/Top Imagenes/MEMO.jpg" alt=""  width="350px" height="250px">
          </div>
        </div>

        <div class="col-sm">
          <div class="datos">
            <div class="Jumbotron">
              <h1>Alemania Occidental 1974</h1>
            </div>
            <li><p>El jugador chileno Carlos Caszely, es el primero en recibir una tarjeta roja, aunque no en ser expulsado.</p></li>
            <li><p>Esta Copa fue la primera en televisarse en color.</p></li>
            <li><p>Adidas estrena uniformes para el Mundial en distintas selecciones. Los pantalones comienzan a tener números.</p></li>
          </div>
        </div>

        <div class="col-sm">
          <div class="datosimg">
            <img src="/estilo/imagenes/Top Imagenes/NASCIMIENTO+.jpg" alt=""  width="350px" height="250px">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid head">
      <div class="row">
        <div class="col-sm">
          <div class="datosimg">
           <img src="/estilo/imagenes/Top Imagenes/maradona-mexico-1986.jpg" alt="" width="350px" height="250px"º>
          </div>
        </div>

        <div class="col-sm">
          <div class="datos">
            <div class="Jumbotron">
              <h1>España 1982</h1>
            </div>
            <li><p>El jugador de Irlanda del Norte, Norman Whiteside, debutó a la edad de 17 años y 42 días, convirtiéndose en el jugador más joven que ha participado en un mundial.</p></li>
            <li><p>Diego Armando Maradona debutó en este mundial.</p></li>
          </div>
        </div>

        <div class="col-sm">
          <div class="datosimg">
           <img src="/estilo/imagenes/Top Imagenes/SPAIN2.jpeg" alt="" width="350px" height="250px"º>
          </div>
        </div>
       </div>
    </div>


    <div class="container-fluid head">
      <div class="row">
        <div class="col-sm">
          <div class="datosimg">
           <img src="/estilo/imagenes/Top Imagenes/CORTOUIS.jpg" alt="" width="350px" height="250px"º>
          </div>
        </div>

        <div class="col-sm">
          <div class="datos">
            <div class="Jumbotron">
              <h1>México 1986</h1>
            </div>
            <li><p>Ante Inglaterra, Maradona marcó el que, para muchos, es el mejor gol de la historia de los Mundiales.</p></li>
            <li><p>México es el primer país que organiza por segunda vez una Copa del Mundo.</p></li>
            <li><p>Es la primera vez que aparece la “ola” en los estadios.</p></li>
          </div>
        </div>

        <div class="col-sm">
          <div class="datosimg">
           <img src="/estilo/imagenes/Top Imagenes/FORLAAA.jpg" alt="" width="350px" height="250px"º>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid head">
      <div class="row">
        <div class="col-sm">
          <div class="datosimg">
           <img src="/estilo/imagenes/Top Imagenes/ARGENTINA.jpg" alt="" width="350px" height="250px"º>
          </div>
        </div>

        <div class="col-sm">
          <div class="datos">
            <div class="Jumbotron">
              <h1>Estados Unidos 1994</h1>
            </div>
            <li><p>Es la primera vez que una final termina 0 a 0 y hay que lanzar la tanda de penaltis. Brasil se proclama vencedor ante Italia. </p></li>
            <li><p>Maradona da positivo en dopping ante Nigeria. Es expulsado de la competición.</p></li>
            <li><p>Este mundial contó con el mayor promedio de espectadores por partido.</p></li>
          </div>
        </div>

        <div class="col-sm">
          <div class="datosimg">
           <img src="/estilo/imagenes/Top Imagenes/EL LOCO.jpg" alt="" width="350px" height="250px"º>
          </div>
        </div>
      </div>
    </div>

    <div class="container-sm head">
      <div class="row">
        <div class="col align-self-center">
          <div class="datos">
            <div class="Jumbotron">
              <h1>Japón y Corea 2002</h1>
            </div>
            <li><p>Por primera vez, la organización de un Mundial recae sobre dos países conjuntamente.</p></li>
            <li><p>Italia y España caen eliminadas ante Corea en octavos y en cuartos de final respectivamente ante dos de los arbitrajes más polémicos de los mundiales.</p></li>
            <li><p>El brasileño Cafú se convierte en el primer jugador en disputar tres finales.</p></li>
          </div>
        </div>
      </div>
    </div>

    <div class="container-sm head">
      <div class="row">
        <div class="col align-self-center">
          <div class="datos">
            <div class="Jumbotron">
              <h1>Alemania 2006</h1>
            </div>
            <li><p>El delantero de Suecia Marcus Allback marcó el gol número 2000 de la historia de los mundiales en el partido contra Inglaterra.</p></li>
            <li><p>Messi jugó con unas botas en las que tenia escrito “La mano de Dios” y el numero 86</p></li>
            <li><p>La final es entre Francia e Italia. Zidane da un cabezazo en el pecho a Materazzi tras las continuas provocaciones de éste. El galo es expulsado en su último partido como jugador de fútbol profesional.</p></li>
          </div>
        </div>
      </div>
    </div>

    <div class="container-sm head">
      <div class="row">
        <div class="col align-self-center">
          <div class="datos">
            <div class="Jumbotron">
              <h1>Sudáfrica 2010</h1>
            </div>
            <li><p>Por primera vez el equipo ganador del torneo pierde el primer partido que disputa (España contra Suiza).</p></li>
            <li><p>Es la primera vez que el equipo organizador no pasa la primera fase.</p></li>
            <li><p>Brasil y España son los únicos en haber ganado una Copa fuera de sus respectivos continentes.</p></li>
            <li><p>Desde el Mundial de Argentina 78′ la final no la disputaban dos selecciones que no habían ganado nunca la Copa del Mundo.</p></li>
            <li><p>Holanda es la selección que más veces ha jugado una final sin ganarla: Alemania 1974, Argentina 1978 y Sudáfrica 2010.</p></li>
            <li><p>Italia y Francia, los finalistas del mundial anterior, no pasaron de la primera ronda.</p></li>
            <li><p>El pulpo Paul consigue fama mundial ya que acierta todas las eliminatorias hasta la final seleccionando en su pecera la urna del equipo que va a ganar.</p></li>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid head">
      <div class="row">
        <div class="col-sm">
          <div class="datosimg">
           <img src="/estilo/imagenes/Top Imagenes/EPAAAABR.jpg" alt="" width="350px" height="250px"º>
          </div>
        </div>

        <div class="col-sm">
          <div class="datos">
            <div class="Jumbotron">
              <h1>Brasil 2014</h1>
            </div>
            <li><p>Durante la Copa del Mundo de 2014 se enviaron 48,5 millones de fotos.</p></li>
            <li><p>Alemania construyó su propio hotel de concentración: “Camp Bahía”, ubicado en Santo André.</p></li>
            <li><p>Cada equipo recibió 1,5 millones de dólares para cubrir los costes de preparación antes de la copa.</p></li>
          </div>
        </div>

        <div class="col-sm">
          <div class="datosimg">
           <img src="/estilo/imagenes/Top Imagenes/el_loco_0.jpg" alt="" width="350px" height="250px"º>
          </div>
        </div>

      </div>
    </div>

    <div class="container-fluid head">
      <div class="row">
        <div class="col-sm">
          <div class="datosimg">
           <img src="/estilo/imagenes/Top Imagenes/ALEMA.jpg" alt="" width="350px" height="250px"º>
          </div>
        </div>

        <div class="col-sm">
          <div class="datos">
            <div class="Jumbotron">
            </div>
            <li><p>Brasil modificó sus leyes para que durante el torneo se pudiera consumir cerveza dentro de los estadios.</p></li>
            <li><p>Brasil celebró el mundial en su casa en 1950, y tuvo que soportar el “Maracanaço”. 64 años después, Brasil tendrá que recordar con tristza el “Mineiraço” tras perder 1-7 frente a Alemania en semifinales.</p></li>
            <li><p>La Copa del Mundo de 2014 fue la primera en la que se usaron los sensores en las líneas de meta, con el objetivo de eliminar los goles fantasma.</p></li>
          </div>
        </div>

        <div class="col-sm">
          <div class="datosimg">
           <img src="/estilo/imagenes/Top Imagenes/ANDREEES.jpg" alt="" width="350px" height="250px"º>
          </div>
        </div>
      </div>
    </div>
  </ol>
  </div>

</body>

</html>