<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/estilo/style.css">
  <title>Datos curiosos</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index.html">90 minutos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar navbar-expand-sm bg-light navbar-light" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/templates/Campeones.html">Campeones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/templates/Mundiales.html">Mundiales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/templates/Historia.html">Historia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/templates/Estrellas.html">Estrellas</a>
        </li>
      </ul>
    </div>
  </nav>
  <ol>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="mundial">
            <li>
              <p class="lead">El Mundial con más goles. Suiza 1954 fue el Mundial en el que se han anotado más goles en
                la historia,
                con un récord de
                5.4 anotaciones por partido. El encuentro en el que se registraron más tantos fue entre Austria y Suiza,
                con un marcador
                de 7 a 5 en favor del primero. Hasta la fecha no ha habido un partido mundialista que supere este
                marcador. Cuatro años
                más tarde, en Suecia 1958, Brasil ganó su segunda copa y se convirtió en el único país latinoamericano
                que
                ha ganado un
                título de campeón en un Mundial jugado en Europa.</p>
            </li>
          </div>
        </div>

        <div class="col-sm">
          <div class="mundial">
            <li>
              <p class="lead">La goleada del siglo. La peor goleada de la historia ocurrió en el Mundial de España 1982,
                en un partido en el que
                Hungría venció a El Salvador 10 goles a 1. Este fue el segundo y último Mundial al que los salvadoreños
                han asistido.</p>
            </li>
          </div>
        </div>

        <div class="col-sm">
          <div class="mundial">
            <li>
              <p class="lead">El récord en sanciones. En Alemania 2006, el partido Portugal vs. Holanda marcó un nuevo
                récord al ser el partido con
                mayor número de tarjetas (20) y el mayor número de expulsados (4).</p>
            </li>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="mundial"></div>
        </div>
      </div>
    </div>

  </ol>

  </div>
</body>

</html>