<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/estilo/style.css">
        <title>Mundiales</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/index.html">90 minutos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar navbar-expand-sm bg-light navbar-light" id="navbarNav">  
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/templates/Campeones.html">Campeones</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/templates/Mundiales.html">Mundiales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/templates/Goleadores.html">Goleadores</a>
                </li>
              </ul>
            </div>
          </nav>
      
        <div class="h1">
        <h3>De Uruguay, que fue el primer país en albergar un Mundial de fútbol, a Rusia, el más reciente.</h3>
        <img src="/estilo/imagenes/WCTrophy.png" class="img-fluid"  alt="error" width="auto" height="550px">
        </div>
        <ul>
        <div class="container">
        <div  class="row">
          <div class="col">
            <div class="titleM">
              <li><h1>MUNDIAL 1930 - URUGUAY</h1></li>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="mundial">
              <li><p class="lead">En el año 1930 se disputó el primer Mundial de fútbol de la historia, que tuvo como sede Uruguay, que además sería el primer campeón del mundo de la historia, tras imponerse en la final a Argentina (4-2) en el estadio Centenario de Montevideo.
              </p></li>
            </div>
          </div>
          <div class="col">
            <img src="/estilo/imagenes/uruguay1930.jpg" class="img-fluid" alt="Cinque Terre" width="400" height="300">
          </div>
        </div>
      </div>
      </ul>
      <ul>
        <div class="container">
          <div  class="row">
            <div class="col">
              <div class="titleM">
                <h1>MUNDIAL 1934 - ITALIA</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
                <p class="lead">Italia, como hiciera cuatro años antes Uruguay, también sería campeón al organizar el Mundial, en este caso el segundo de la historia. La Nazionale venció a Checoslovaquia (2-1) con un gol de Angelo Schiavio en la prórroga.</p>
              </div>
            </div>
            <img src="/estilo/imagenes/italia-1934.jpg" class="img-fluid" alt="Cinque Terre" width="450" height="280">
          </div>
        </div>
        </ul>
        <ul>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <li><h1>MUNDIAL 1938 - FRANCIA</h1></li>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
               <li><p class="lead">La selección italiana revalidaría el título mundial cuatro años después en Francia, venciendo en la final con autoridad a Hungría (4-2) y convirtiéndose en el primer país en tener dos entorchados mundiales.
              </p></li> 
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/francia1938.jpg"class="img-fluid"  alt="Cinque Terre" width="450" height="250">
            </div>
          </div>
        </div>
        </ul>

        <ul>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <li><h1>MUNDIAL 1950 - BRASIL</h1></li>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
               <li><p class="lead">El Mundial disputado en Brasil, en el año 1950, dejó uno de los recuerdos más memorables de la historia de los Mundiales. Uruguay lograría su segundo galardón al imponerse a la Canarinha (2-1) en la final disputada en el estadio de Maracaná. El llamado 'Maracanazo' todavía sigue siendo recordado por todos los aficionados al fútbol.</p></li> 
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/M-B1950.jpg" class="img-fluid" alt="Cinque Terre" width="320" height="450">
            </div>
          </div>
        </div>
        </ul>

        <ul>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <li><h1>MUNDIAL 1954 - SUIZA</h1></li>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
               <li><p class="lead">Alemania lograría su primer Mundial en el año 1954, una cita disputada en Suiza, y lo hizo imponiéndose a la Hungría de Ferenc Puskas en una gran remontada. Los húngaros empezaron venciendo 0-2 en los primeros diez minutos, pero Alemania logró darle la vuelta al marcador para acabar venciendo 3-2.</p></li> 
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/M-suiza1954.jpg" class="img-fluid" alt="Cinque Terre" width="450" height="280">
            </div>
          </div>
        </div>
        </ul>

        <ul>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <li><h1>MUNDIAL 1958 - SUECIA</h1></li>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
               <li><p class="lead">En el año 1958, en Suecia, llegaría el primer Mundial de Brasil, país con más entorchados en la historia. La Canaricha evitó que Suecia, país anfitrión, lograra proclamarse campeón del mundo, y además lo hizo con un resultado contundente: 5-2. </p></li> 
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/M-Suecia1958.jpg" class="img-fluid" alt="Cinque Terre" width="400px" height="466px">
            </div>
          </div>
        </div>
        </ul>

        <ul>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <li><h1>MUNDIAL 1962 - CHILE</h1></li>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
               <li><p class="lead">Cuatro años después, en Chile, Brasil colocaría su segunda estrella de campeón en el escudo tras vencer en la final a Checoslovaquia, que tendría que conformarse con un nuevo subcampeonato, que se suma al que lograron en el año 1934.</p></li> 
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/mundial-chile-62.jpg" class="img-fluid" alt="Cinque Terre" width="450" height="350">
            </div>
          </div>
        </div>
        </ul>

        <ul>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <li><h1>MUNDIAL 1966 - INGLATERRA</h1></li>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
               <li><p class="lead">Inglaterra se convertiría en otro de los países capaces de convertirse en campeón del mundo jugando en casa. Los Tres Leones vencerían en una trepidante final a Alemania en la prórroga (4-2) en un escenario imponente como lo es Wembley.</p></li> 
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/M-Ing1966.jpg" class="img-fluid" alt="Cinque Terre" width="350" height="450">
            </div>
          </div>
        </div>
        </ul>

        <ul>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <li><h1>MUNDIAL 1970 - MÉXICO</h1></li>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
               <li><p class="lead">En el año 1970, en el Mundial disputado en México, Brasil sería nuevamente la campeona, sumando tres entorchados mundiales en las últimas cuatro citas disputadas. En la final, celebrada en el estadio Azteca, la Canarinha pasó por encima de Italia con un 4-1 sin paliativos. El Brasil del 70' siempre será considerado uno de los mejores equipos de la historia.</p></li> 
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/M-mex1970.png" class="img-fluid"  alt="Cinque Terre" width="450" height="350">
            </div>
          </div>
        </div>
        </ul>

        <ul>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <li><h1>MUNDIAL 1974 - ALEMANIA</h1></li>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
               <li><p class="lead">Alemania albergaría el Mundial del año 1974 y vería cómo su selección se convertiría en campeón del mundo por segunda vez en su historia al imponerse a la Holanda de Johan Cruyff por 2-1, en un encuentro disputado en el Olímpico de Múnich.</p></li> 
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/M-alem1974.jpg" class="img-fluid" alt="Cinque Terre" width="450" height="250">
            </div>
          </div>
        </div>
        </ul>

        <ul>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <li><h1>MUNDIAL 1978 - ARGENTINA</h1></li>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
               <li><p class="lead">Argentina seguiría cuatro años después los pasos de Alemania, primero convirtiéndose en campeona del mundo en su casa, y segundo volviendo a dejar a Holanda con la miel en los labios en la final (3-1). El Monumental se vistió de Albiceleste .</p></li> 
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/M-Arg78.svg.png" class="img-fluid" alt="Cinque Terre" width="350" height="190">
            </div>
          </div>
        </div>
        </ul>

        <ul>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <li><h1>MUNDIAL 1982 - ESPAÑA</h1></li>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
               <li><p class="lead">España, en el año 1982, vería cómo Italia se proclamaría campeón del mundo por tercera vez en su historia. La Nazionale vencería 3-1 a Alemania en una final que se disputó en Madrid, en el estadio Santiago Bernabéu.</p></li> 
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/M-Spa1982.jpg" class="img-fluid" alt="Cinque Terre" width="450" height="250">
            </div>
          </div>
        </div>
        </ul> 

        <ul>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <li><h1>MUNDIAL 1986 - MÉXICO</h1></li>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
               <li><p class="lead">México vivió el Mundial de Diego Armando Maradona, y obviamente su Argentina, que sería campeona del mundo tras imponerse en una gran final a Alemania (3-2). El '10' no marcó en la final, pero su torneo fue sencillamente sensacional, sobre todo su partido ante Inglaterra, que dejó uno de los mejores goles de la historia.</p></li> 
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/M-mex86.jpg" class="img-fluid" alt="Cinque Terre" width="350" height="250">
            </div>
          </div>
        </div>
        </ul>

    
    
      <div class="fondoM">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <h1>MUNDIAL 1990 - ITALIA</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
               <p class="lead">Cuatro años después Alemania se tomaría la revancha contra Argentina, reeditando una final que se llevaría la Mannschaft , por la mínima (1-0), para proclamarse campeón del mundo por tercera vez en su historia. El solitario gol de Andreas Brehme sirvió para que, en el Olímpico de Roma, Alemania venciera nuevamente.</p> 
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/M-ita90.jpg" class="img-fluid" alt="Cinque Terre" width="250" height="350">
            </div>
          </div>
         </div>

         <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <h1>MUNDIAL 1994 - ESTADOS UNIDOS</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
               <p class="lead">Estados Unidos albergó por primera vez una cita mundialista que sirvió para empezar a poner las bases para que el 'soccer' empezara a ser seguido por los yankees . Brasil sería campeona del mundo por cuarta vez en su historia tras vencer a Italia en la tanda de penaltis. Roberto Baggio, con su penalti a las nubes, nos regalaría otra de las imágenes de la historia de los Mundiales. </p> 
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/M-usa94.jpg" class="img-fluid" alt="Cinque Terre" width="350" height="350">
            </div>
          </div>
         </div>

         <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <h1>MUNDIAL 1998 - FRANCIA</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
               <p class="lead">La Francia de Zinedine Zidane se convertiría en campeón del mundo por primera vez en su historia tras bordar el torneo, en el que además actuaban de local al ser sede. En la final, disputada en el Stade de France, Les Bleus arrollaron a Brasil (3-0).</p> 
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/M-Fra98.jpg" class="img-fluid"  alt="Cinque Terre" width="350" height="350">
            </div>
          </div>
         </div>

         <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <h1>MUNDIAL 2002 - COREA DEL SUR Y JAPÓN</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
               <p class="lead">El primer Mundial disputado en suelo asiático dejó campeón a Brasil, nuevamente venciendo a Alemania (2-0) el combinado que mas finales ha disputado en la historia de los Mundiales. Ronaldo, que fue triste protagonista en la final de 1998, se desquitaría con un doblete que valdría para que la Canarinha se convirtiera en pentacampeona en el estadio de Yokohama.</p> 
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/M-KJ2002.png" class="img-fluid"  alt="Cinque Terre" width="250" height="350">
            </div>
          </div>
         </div>

         <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <h1>MUNDIAL 2006 - ALEMANIA</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
               <p class="lead">Alemania albergaría cuatro años después un Mundial que quedaría marcado por dos hechos: la victoria de Italia y la retirada internacional de Zinedine Zidane, que sería expulsado en la final tras propinar un cabezazo a Marco Materazzi. La Nazionale sería tetracampeona del mundo tras imponerse a les Bleus en la tanda de penaltis.</p> 
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/M-alem2006.jpg" class="img-fluid"  alt="Cinque Terre" width="350" height="350">
            </div>
          </div>
         </div>

         <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <h1>MUNDIAL 2010 - SUDÁFRICA</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
               <p class="lead">Sudáfrica viviría el fútbol total de la Selección Española, que se se proclamaría campeona del mundo por primera vez en su historia tras arrasar con su 'tiki-taka'. Con un juego de toque que encandiló al mundo entero, La Roja se impuso en la prórroga de la final, disputada en el Soccer City de Johannesburgo, a Holanda con un gol de Andrés Iniesta que ya es historia del deporte.</p> 
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/M-Sud2010.png" class="img-fluid" alt="Cinque Terre" width="350" height="350">
            </div>
          </div>
         </div>

         <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <h1>MUNDIAL 2014 - BRASIL</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
               <p class="lead">Alemania, otra vez Alemania en una final. En esta ocasión para proclamarse campeona del mundo en Maracaná por cuarta vez en su historia al vencer a Argentina, nuevamente, con un gol en la prórroga de Mario Götze. Lionel Messi, en una final discreta, perdería una ocasión de oro para alzar el Mundial.</p> 
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/M-Bra2014.png" class="img-fluid" alt="Cinque Terre" width="350" height="350">
            </div>
          </div>
         </div>

         <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <h1>MUNDIAL 2018 - RUSIA</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
               <p class="lead">Francia logró su segundo título del mundo al vencer 4-2 en la final a Croacia. El trabajo de los galos se sustentó de punta a punta: desde Hugo Lloris hasta Kilyan Mbappé, pasando por Ngolo Kanté, Paul Pogba o Antoine Griezmann. Veinte años después de ganar y organizar la cita de 1998, Les Bleus volvieron a festejar. </p> 
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/M-Rus2018.jpg" style="padding: 5%;" class="img-fluid" alt="Cinque Terre" width="350" height="350">
            </div>
          </div>
          </div>
        
        
        
        
        
        
        </div>
    </div>

    <footer class="text-center text-lg-start bg-light text-muted">
      <div class="icons">
        <i><a href="https://www.instagram.com/" class="btn" role="button"><img src="/estilo/imagenes/LOGOS/instagram2.png" width="48px" height="48px"></a></i>
        <i><a href="https://www.facebook.com/hassiel2hr/" class="btn" role="button"><img src="/estilo/imagenes/LOGOS/facebook2.png" alt="" width="48px" height="48px" ></a></i>
        <i><a href="https://twitter.com/hassieljruiz" class="btn" role="button"><img src="/estilo/imagenes/LOGOS/gorjeo.png" alt="" width="48px" height="48px"></a></i>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="">Hassiel Ruiz</a>
      </div>
  </footer>

    </body>
</html>