<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/estilo/style.css">
        <title>Mundiales</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/index.html">90 minutos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar navbar-expand-sm bg-light navbar-light" id="navbarNav">  
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/templates/Campeones.html">Campeones</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/templates/Mundiales.html">Mundiales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/templates/Historia.html">Historia</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/templates/Estrellas.html">Estrellas</a>
                </li>
              </ul>
            </div>
          </nav>
      <div  class="container">
        <div class="h1">
        <h4>De Uruguay, que fue el primer país en albergar un Mundial de fútbol, a Rusia, el más reciente.</h4>
        </div>

        <div class="container">
        <div  class="row">
          <div class="col">
            <div class="titleM">
              <h1>MUNDIAL 1930 - URUGUAY</h1>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="mundial">
              <p class="lead">En el año 1930 se disputó el primer Mundial de fútbol de la historia, que tuvo como sede Uruguay, que además sería el primer campeón del mundo de la historia, tras imponerse en la final a Argentina (4-2) en el estadio Centenario de Montevideo.
              </p>
            </div>
          </div>
          <div class="col">
            <img src="/estilo/imagenes/uruguay1930.jpg" alt="Cinque Terre" width="400" height="300">
          </div>
        </div>
      </div>
        <div class="container">
          <div  class="row">
            <div class="col">
              <div class="titleM">
                <h1>MUNDIAL 1934 - ITALIA</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
                <p class="lead">Italia, como hiciera cuatro años antes Uruguay, también sería campeón al organizar el Mundial, en este caso el segundo de la historia. La Nazionale venció a Checoslovaquia (2-1) con un gol de Angelo Schiavio en la prórroga.</p>
              </div>
            </div>
            <img src="/estilo/imagenes/italia-1934.jpg" alt="Cinque Terre" width="450" height="280">
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col">
              <div class="titleM">
                <h1>MUNDIAL 1938 - FRANCIA</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mundial">
                <p class="lead">La selección italiana revalidaría el título mundial cuatro años después en Francia, venciendo en la final con autoridad a Hungría (4-2) y convirtiéndose en el primer país en tener dos entorchados mundiales.
                </p>
              </div>
            </div>
            <div class="col">
              <img src="/estilo/imagenes/francia1938.jpg" alt="Cinque Terre" width="450" height="250">
            </div>
          </div>
        </div>




    </body>
</html>